body{
    background: black;
}

#canvas{
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -25%;
    margin-top: -200px;
    background: black;
    border: 10px solid white;
}

.commands .btn{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    background: black;
    color: white;
    padding: 4px;
    min-width: 70px;
    height: 35px;
    border: 3px solid white;
}


